@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, "Noto Sans Arabic", "Helvetica Neue", Helvetica, Arial, "Bai Jamjuree", sans-serif;
}

label, button, input, textarea {
    display: block;
}

html, body {
    height: 100svh;
}

.back-home {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    background: rgb(51, 51, 51);
    color: #fff;
    font-weight: 800;
}

a {
    text-decoration: none;
}

.page-wrapper {
    background: url("/img/background.jpg") center center;
    background-size: cover;
}

.card {
    background: #fff;
    padding: 1.3rem;
    width: 25rem;
    border-radius: 0.2rem;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.45);
}

.card.home {
    width: 30rem;
    padding: 3rem 3.5rem;
    border-radius: 0.9rem;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.flex {
    display: flex;
}

.flex-1 > * {
    flex: 1;
}

.g-1 {
    gap: 0.5rem;
}

.g-2 {
    gap: 1rem;
}

.g-3 {
    gap: 3rem;
}

.flex.center-x {
    justify-content: center;
}

.flex.center-y {
    align-items: center;
}

.flex.vertical {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.btn {
    border: none;
    outline: none;
    padding: 1rem 1rem;
    border-radius: 0.2rem;
    font-size: 1.2rem;
    font-weight: 800;
    cursor: pointer;
    transition: 0.2s background, 0.2s outline-color;
}

.btn.btn-join {
    background: #4caf50;
    color: #fff;
}

.btn.btn-create {
    background: #2196f3;
    color: #fff;
}

.btn.btn-primary {
    background: rgb(51, 51, 51);
    color: #fff;
}

.btn.btn-primary:hover {
    background-color: rgb(34, 34, 34);
}

.textbox {
    border: 2px solid rgb(204, 204, 204);
    outline: none;
    height: 48px;
    border-radius: 0.2rem;
    font-size: 1.1rem;
    font-weight: 800;
}

.textbox::placeholder {
    color: rgba(153, 153, 153, 0.783);
}

.textbox:hover {
  border-color: rgb(153, 153, 153);
}

.textbox:focus {
  outline: none;
  border-color: rgb(102, 102, 102);
}

.banner {
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.915);
    box-shadow: 10px 10px 20px rgba(79, 48, 79, 0.776);
    background-color: rgba(170, 15, 170, 0.776);
    border-radius: 12px;
    padding: 10px 50px;
    width: 50rem;
    text-align: center;
}

#copyBtn {
    width: 4rem;
    margin-left: 0.5rem;
    border: 2px solid rgb(204, 204, 204);
    background-color: white;
    border-radius: 0.2rem;
}