:root {
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label, button, input, textarea {
    display: block;
}

html, body {
    height: 100svh;
}

.h-100 {
    height: 100%;
}

.flex {
    display: flex;
}

.g-1 {
    gap: 0.5rem;
}

.g-2 {
    gap: 1rem;
}

.flex.center-x {
    justify-content: center;
}

.flex.center-y {
    align-items: center;
}

.flex.vertical {
    flex-direction: column;
}
