* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #ffffff;
  padding: 30px 40px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.45);
}

.title {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: rgba(255, 255, 255, 0.915);
  box-shadow: 10px 10px 20px rgba(79, 48, 79, 0.776);
  background-color: rgba(170, 15, 170, 0.776);
  border-radius: 12px;
  padding: 10px 50px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.btn {
  padding: 15px;
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
  width: 100%;
}

.join {
  background: #4caf50;
  color: white;
}

.create {
  background: #2196f3;
  color: white;
}

.btn:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.link {
  margin: auto;
  width: 80%;
  
}