@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

label, button, input, textarea {
    display: block;
}

html, body {
    height: 100svh;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5rem 3.5rem;
    width: 100%;
}

nav .title {
    font-weight: 500;
}

nav .nav-item {
    color: #fff;
    text-decoration: none;
    transition: 0.2s color;
}

nav .nav-item.active, nav .nav-item:hover {
    color: #c774f7;
}

.page-wrapper {
    background: url("/img/background.jpg") center center;
    background-size: cover;
}

.card {
    background: #fff;
    padding: 2rem;
    width: 30rem;
    border-radius: 0.6rem;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.flex {
    display: flex;
}

.flex-1 > * {
    flex: 1;
}

.g-1 {
    gap: 0.5rem;
}

.g-2 {
    gap: 1rem;
}

.g-3 {
    gap: 3rem;
}

.flex.center-x {
    justify-content: center;
}

.flex.center-y {
    align-items: center;
}

.flex.vertical {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.btn {
    border: none;
    outline: none;
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.2s background, 0.2s outline-color;
}

.btn.btn-primary {
    background: #9E4ACE;
    color: #fff;
}

.btn.btn-primary:hover {
    background: #ab61d6;
}

.btn.btn-secondary {
    background: #222;
    color: #fff;
}

.btn.btn-secondary:hover {
    background: #2f2f2f;
}

.textbox {
    border: 1px solid #e3e3e3;
    outline: none;
    padding: 0.7rem 1rem;
    border-radius: 0.4rem;
    font-size: 0.9rem;
}
