#root {
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label, button, input, textarea {
    display: block;
}

body {
    background-image: url("img/background.jpg");
    background-size: cover;
}