* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #ffffff;
  padding: 16px;
  border-radius: 4px;
  text-align: center;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.45);
  margin-bottom: 20%;
  width: 320px;
}

.title {
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.915);
  box-shadow: 10px 10px 20px rgba(79, 48, 79, 0.776);
  background-color: rgba(170, 15, 170, 0.776);
  border-radius: 12px;
  padding: 10px 50px;
  width: 50%;
  margin: 70px auto 0;
  text-align: center;
}

.inputCode {
  margin-top: 5px;
  width: 288px;
  height: 48px;
  text-align: center;
  padding: 4px 6px;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 4px;
}

.inputCode::placeholder {
  font-family: Montserrat, "Noto Sans Arabic", "Helvetica Neue", Helvetica, Arial, "Bai Jamjuree", sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: rgba(125, 125, 125, 0.783);
}
.inputCode:hover {
  border-color: rgb(153, 153, 153);
}
.inputCode:focus {
  outline: none;
  border-color: rgb(102, 102, 102);
}

.joinBtn {
  margin-top: 15px;
  width: 100%;
  height: 48px;
  background-color: rgb(51, 51, 51);
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.joinBtn:hover {
  background-color: rgb(34, 34, 34);
}